
.alert-container{
    position: fixed; 
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 20;
    background-color: rgba(28, 28, 28, 0.448);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-false-container{
    position: fixed; 
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 20;
    background-color: rgba(28, 28, 28, 0.448);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.alert{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert .title{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.alert .title h2{
    font-weight:900;
    color: #303030;

}

.alert .title img{
    height: 30px;
    width: 30px;
}

.alert .infos{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.alert .infos .id{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.alert .infos .id .title{
    display: flex;
    justify-content: start;
}

.alert .infos .id .title h2{
    font-weight: 300;
    font-size: large;
    color: #303030;
}


.localisation{
    margin-top: 20px;
}

.localisation h2{
    color: #303030;
    font-size: large;
}


.alert a{
    margin-top: 20px;
    color: #2D53DA;
    font-style: italic;
    text-decoration: none;
    font-size: large;
}

.close{
    height: 60px;
    width: 60px;
    background-color: #FF4B4E;
    margin-top: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img{
    filter: brightness(0)invert(1);
    height: 20;
    width: 20px;
}

.close-false{
    height: 60px;
    width: 60px;
    background-color: #FF4B4E;
    margin-top: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-false img{
    filter: brightness(0)invert(1);
    height: 20;
    width: 20px;
}