::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #6788ff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #d3dfff;
    border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
    height: 8px;
}
